
#service-two i.weixin {
background-position: 0px 0px;
}
#service-two i.weixinicons {
width: 88px;
height: 88px;
}
#service-two i.weixinicons21{
background-image: url(../images/weixin/gnico-_21.png);
display: inline-block;
}
#service-two i.weixinicons20{
background-image: url(../images/weixin/gnico-_20.png);
display: inline-block;
}
#service-two i.weixinicons19{
background-image: url(../images/weixin/gnico-_19.png);
display: inline-block;
}
#service-two i.weixinicons18{
background-image: url(../images/weixin/gnico-_18.png);
display: inline-block;
}
#service-two i.weixinicons17{
background-image: url(../images/weixin/gnico-_17.png);
display: inline-block;
}
#service-two i.weixinicons16{
background-image: url(../images/weixin/gnico-_16.png);
display: inline-block;
}
#service-two i.weixinicons15{
background-image: url(../images/weixin/gnico-_15.png);
display: inline-block;
}
#service-two i.weixinicons14{
background-image: url(../images/weixin/gnico-_14.png);
display: inline-block;
}
#service-two i.weixinicons13{
background-image: url(../images/weixin/gnico-_13.png);
display: inline-block;
}
#service-two i.weixinicons12{
background-image: url(../images/weixin/gnico-_12.png);
display: inline-block;
}
#service-two i.weixinicons11{
background-image: url(../images/weixin/gnico-_11.png);
display: inline-block;
}
#service-two i.weixinicons10{
background-image: url(../images/weixin/gnico-_10.png);
display: inline-block;
}
#service-two i.weixinicons09{
background-image: url(../images/weixin/gnico-_09.png);
display: inline-block;
}
#service-two i.weixinicons08{
background-image: url(../images/weixin/gnico-_08.png);
display: inline-block;
}
#service-two i.weixinicons07{
background-image: url(../images/weixin/gnico-_07.png);
display: inline-block;
}
#service-two i.weixinicons06{
background-image: url(../images/weixin/gnico-_06.png);
display: inline-block;
}
#service-two i.weixinicons05{
background-image: url(../images/weixin/gnico-_05.png);
display: inline-block;
}
#service-two i.weixinicons03{
background-image: url(../images/weixin/gnico-_03.png);
display: inline-block;
}
#service-two i.weixinicons04{
background-image: url(../images/weixin/gnico-_04.png);
display: inline-block;
}#service-two i.weixinicons02{
background-image: url(../images/weixin/gnico-_02.png);
display: inline-block;
}
#service-two i.weixinicons01{
background-image: url(../images/weixin/gnico-_01.png);
display: inline-block;
}
.iconleft
{
    left: -7px;
}
.iconright
{
    left: -55px!important;
}